h1 {
    text-align: center;
}

label {
    font-size: 1rem;
    margin-top: 15px;
}

form {
    margin-top: 55px;
    padding: 10px;
    width: 400px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn  {
    font-size: 0.95rem;
    padding: 10px 10px;
}

.error {
    margin-top: 4px;
    font-size: 0.8rem;
    font-weight: bold;
}

.uppercase {
    text-transform: capitalize;
}

.msg {
    margin-top: 30px;
    text-align: center;
}